.UdinraGoogleAqua {
    background-color: lightcyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid aqua;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleTeal {
    background-color: azure;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid teal;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleChocolate {
    background-color: bisque;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid chocolate;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleCoral {
    background-color: cornsilk;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid coral;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleGolden {
    background-color: khaki;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid darkGoldenRod;
    padding: 15px;
    margin: 15px;
}
.UdinraGooglePink {
    background-color: MistyRose;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Pink;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleLightGreen {
    background-color: HoneyDew;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LimeGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleSeaGreen {
    background-color: LightCyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LightSeaGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleGrey {
    background-color: WhiteSmoke;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Grey;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleTan {
    background-color: Wheat;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Tan;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleWhite {
    background-color: White;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Black;
    padding: 15px;
    margin: 15px;
}
.UdinraGoogleNone {
}